.item {
    width: 100%;
    background: lavender;
    padding: 5px;
}

img {
    width: inherit;
    height: auto;
}

.title {
    width: 100%;
    padding: 5px;
    text-align: center;
}

.price {
    padding: 5px;
    text-align: right;
    display: inline-block;
    width: 50%;
}

.btn {
    margin-left: 10px;
}
