.Product {
    background: cornflowerblue;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid black;
}

.goods-item {
    margin-bottom: 1em;
}
